body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
    color: antiquewhite;
    margin:0;
}
.logo{
    font-weight: bold;
    margin-top: 0;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    top: 40px;
   
    display: inline-block;
    margin-left: 30px;
   
   
}
main{
    background-color: #4361ee;
}
.navbar{
    display: flex;
    justify-content: right;
    list-style-type: none;
    gap: 2em;
    margin-left: 150px;
    margin-right: 100px;
   padding-top: 30px;
   padding-right: 15px;
   position: relative;
   top: -30px;
}

.bigdiv{
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
    margin-top: 150px;
    margin-right: 170px;

}
.donna{
    width: 70%;
    height: 70%;
    border-radius: 3px;
    padding-bottom: 30px;
    margin-bottom: 50px;
    position: relative;
    bottom: 50px;
}
.futurenow{
    font-size: 40px;
    background-color: #7209b7;
    display: inline;
    border-radius: 3px;
    padding-right: 8px;
    padding-left: 8px;
}
.para1{
    font-size: 33px;
    width: 70%;
    margin-right: 150px;
    background-color: #3a0ca3;
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align:start;
}
.sub{
    margin-left: 20px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    color:antiquewhite;
    background-color:#3a0ca3;
    padding-top: 2px;
  
    width:100px;
    height: 60px;
    font-weight: bold;
    font-size: 18px;
    
}
.main2{
    background-color: #012a4a;
}
.newp{
    text-align: center;
    margin: 0;
    padding-top: 16px;
}
.banner{
    display: flex;
    justify-content: center;
    height: 300px;
    gap: 5em;
    background-color: #012a4a;
   

}
.imgb{
    padding-top: 20px;
    border-radius: 4px;
    height: 400px;
    width: auto;
}
.hope{
    margin-top: 200px;
    text-align: center;
}
.banner2{
    text-align: center;
    font-weight: bolder;
    font-size: 35px;
    padding-bottom: 100px;
}
.bannerp{
    text-align: center;
}
.quote{
    background-color: antiquewhite;
    color: #012a4a;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}
.newsletter{
    display: flex;
    justify-content: space-around;
    background-color: #4361ee;
    padding: 60px 60px 30px 60px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 5px;
    position: relative;
    bottom: 30px;
    
}
.aggiorn{
    margin-left: 500px;
    border: none;
    border-radius: 3px;
    background-color: #118ab2;
    font-weight: bold;
    color: antiquewhite;
    padding: 3px 10px 3px 10px;
    width: 10%;
    margin-top: 10px;
    position: relative;
    bottom: 20px;
    right:50px;
    font-size: 15px;
}
.wanna{
    font-size: 24px;
    position: relative;
    bottom: 15px;
}
.friday{
    position: relative;
    left: 90px;
}
.fine{
    text-align: center;
    color: antiquewhite;
    background-color: #012a4a;
    padding-top: 5px;
    padding-bottom: 6px;
}
.discover{
    text-decoration: underline;
}
.news-back{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: antiquewhite ;
}
